/*
該当ファイル中に書き込もうと思ったがPerl言語とコンフリクトを起こしたので移行
最終的には全てのstyle記述をここに移行してみたい。
*/

@media screen and (max-width:768px) {
    .bbs_service_textarea textarea {
    resize: vertical;
    height:200px;
    width:95%;
    margin:0;
    }
}

/*PCでは無効（改行しない）*/
.smartphone{
    display: none;
}
/*スマートフォンでは有効（改行する）*/
@media screen and (max-width:768px) {
    .smartphone{
        display: block;
    }
}

/* bbs.cgiでスレッド作成のボタンをスマホだと一番上にする */
@media screen and (max-width:768px) {
    .reverse_order{
     display: flex;
     flex-direction: column;
    }
}
.order1 {
    order: 1;
}
.order2 {
    order: 2;
}