/*
�Y���t�@�C�����ɏ����������Ǝv������Perl����ƃR���t���N�g���N�������̂ňڍs
�ŏI�I�ɂ͑S�Ă�style�L�q�������Ɉڍs���Ă݂����B
*/

@media screen and (max-width:768px) {
	.bbs_service_textarea textarea {
	resize: vertical;
	width:95%;
	margin:0;
	}
}

/*PC�ł͖����i���s���Ȃ��j*/
.smartphone{
	display: none;
}
/*�X�}�[�g�t�H���ł͗L���i���s����j*/
@media screen and (max-width:768px) {
	.smartphone{
		display: block;
	}
}

/* bbs.cgi�ŃX���b�h�쐬�̃{�^�����X�}�z���ƈ�ԏ�ɂ��� */
@media screen and (max-width:768px) {
	.reverse_order{
	 display: flex;
	 flex-direction: column;
	}
}
.order1 {
	order: 1;
}
.order2 {
	order: 2;
}
.post {
  border-width: 1px;
  display: inline-block;
  border-style: none solid solid none;
  border-color: #ddd;
  margin-bottom: 8px;
  padding: 8px;
  word-break: break-all;
}
.meta {
  font-size: 14px;
  color: #333;
}
.message {
 font-size:17px;
 color:#333;
 padding:10px 0;
 overflow-wrap:break-all;
}
.backmascot {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-x: calc(100% - 250px);
	background-position-y: bottom;
}
.aaview{
	font-family:MS Gothic;
	font-size: 16px;
	line-height:1;
	white-space:nowrap;
}
/*
���ߍ��݉摜�⓮��̃��X�|���V�u��
https://akros-ac.jp/8277/
*/
/* https://web-de-asobo.net/2022/10/06/html-dl-dt-dd/ */
@media screen and (max-width:768px) {
	dd {
	margin-inline-start: 0;
	}
}

.responsive{
	position:relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	overflow: hidden;
	max-width: 300px
}
.responsive iframe{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

@media screen and (max-width:768px) {
	blockquote{
		margin-block-start: 0em;
		margin-block-end: 0em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}
}
.video {
	width: 100%;
	max-width: 560px;
  }
.video_iframe {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	margin-bottom: 50px;
  }
.video_iframe iframe {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
  }
  #overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999;
  }
  
  #overlay img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 75%;
	max-height: 75%;
  }
  
  #close-button {
	position: absolute;
	bottom: 10%;
	right: 10%;
	cursor: pointer;
	color: white;
	font-size: 24px;
  }
  .bbs_service_textarea textarea{
    width: 100%;
    max-width: 800px;
    display: block;
    box-sizing: border-box; /* �p�f�B���O�ƃ{�[�_�[���܂ޕ����l�� */
    border: 1px solid #ccc; /* �{�[�_�[�̃X�^�C�����O */
    border-radius: 4px; /* �p���ۂ����� */
    font-size: 16px; /* �t�H���g�T�C�Y��ݒ� */
    resize: vertical; /* ���[�U�[�����������ɃT�C�Y��ύX�ł���悤�ɂ��� */
}
/* PC�p�T�C�h���j���[�o�[ */
.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #333;
    display: block;
    overflow-y: auto; /* �c�X�N���[����L���ɂ��� */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover,
.sidebar ul li a.active { /* �A�N�e�B�u�ȃ����N�̃X�^�C�� */
    background-color: #575757;
    font-weight: bold;
}

/* �^�C�g���ƃJ�e�S���̃X�^�C�����O */
.menu-title {
    font-size: 0.8em;
    font-weight: bold;
    color: #ffffff;
    background-color: #444444;
    padding: 10px;
    text-align: center;
}

.category-title {
    font-size: 0.8em;
    font-weight: bold;
    color: #dddddd;
    padding: 8px 10px;
    background-color: #555555;
    text-align: left;
}

/* �X�}�z�p�v���_�E�����j���[�o�[ */
.dropdown {
    display: none;
    position: fixed;
    top: 0;
    left: 0; /* ���[�ɔz�u */
    width: 100%;
    background-color: #333;
    z-index: 1;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex; /* �t���b�N�X�{�b�N�X���g�p */
    justify-content: space-between; /* ���E�ɔz�u */
    align-items: center; /* ���������ɒ������� */
    box-sizing: border-box; /* �p�f�B���O���܂ޕ����l�� */
}

.sitename {
    max-width: calc(100% - 60px); /* �n���o�[�K�[���j���[�A�C�R���̕����l�� */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 24px;
}

.hamburger-icon span {
    display: block;
    width: 24px;
    height: 3px;
    background-color: white;
}

/* �h���b�v�_�E�����j���[�̃X�^�C�� */
.dropdown-content {
    display: none;
    position: fixed;
    top: 50px; /* ���j���[�{�^���̍����������� */
    left: 0; /* ���[�ɔz�u */
    width: 100%;
    max-height: calc(100vh - 50px); /* ��ʍ������烁�j���[�{�^���̍������������� */
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: auto; /* �c�X�N���[����L���ɂ��� */
    box-sizing: border-box; /* �p�f�B���O���܂ޕ����l�� */
    opacity: 0.95;
}

.dropdown-content a, .dropdown-content span {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: white;
    box-sizing: border-box; /* �p�f�B���O���܂ޕ����l�� */
}

.dropdown-content a:hover,
.dropdown-content a.active { /* �A�N�e�B�u�ȃ����N�̃X�^�C�� */
    background-color: #575757;
    font-weight: bold;
}

/* �X�}�z�p�^�C�g���ƃJ�e�S���̃X�^�C�����O */
.dropdown-content .menu-title {
    font-size: 0.8em;
    font-weight: bold;
    color: #ffffff;
    background-color: #444444;
    padding: 10px;
}

.dropdown-content .category-title {
    font-size: 0.8em;
    font-weight: bold;
    color: #dddddd;
    background-color: #555555;
    padding: 8px 10px;
}


/* ���C���R���e���c */
.content {
    margin-left: 200px; /* �T�C�h���j���[�̕� + �}�[�W�� */
    box-sizing: border-box; /* �{�b�N�X�T�C�Y���R���e���c�{�p�f�B���O�{�{�[�_�[�Ɋ܂߂� */
    max-width: calc(100% - 200px); /* �T�C�h���j���[�̕������������̍ő啝 */
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .dropdown {
        display: block;
    }
    .content {
        margin-left: 0;
        padding-top: 70px; /* �h���b�v�_�E�����j���[�̍����� */
        max-width: 100%; /* �X�}�z�p���j���[�\�����̍ő啝��100%�ɐݒ� */
    }
}

/* �^�C�����C���S�̂Ƀ����N�̃X�^�C����K�p */
a.timeline-entry {
    display: block;  /* �u���b�N�S�̂��N���b�N�\�� */
    text-decoration: none; /* �f�t�H���g�̃����N�̉������폜 */
    padding: 5px;
    border-radius: 5px;
    color: rgb(4, 134, 185); /* �����N�̐F������ */
    font-size: 0.8em;
}

/* �}�E�X�I�[�o�[���̔w�i�F�̕ύX */
a.timeline-entry:hover {
    background-color: rgba(0, 123, 255, 0.1); /* �������̐F�w�i�ɕύX */
}

/* �^�C�g������ */
.tl_title {
    font-weight: bold;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 5px;
    text-overflow: ellipsis;
}

/* ���e���b�Z�[�W���� */
.tl_message {
    color: #333;
    white-space: wrap; /* ���s�𖳌��� */
    overflow: hidden; /* �v�f�̕��𒴂����������B�� */
    text-overflow: ellipsis; /* ��ꂽ�������u...�v�ŏȗ� */
}

/* ���ԕ��� */
.tl_time {
    font-size: 0.8em;
    color: #888;
    margin-right: 10px;
}