/*
該当ファイル中に書き込もうと思ったがPerl言語とコンフリクトを起こしたので移行
最終的には全てのstyle記述をここに移行してみたい。
*/

@media screen and (max-width:768px) {
    .bbs_service_textarea textarea {
    resize: vertical;
    height:200px;
    width:95%;
    margin:0;
    }
}

/*PCでは無効（改行しない）*/
.smartphone{
    display: none;
}
/*スマートフォンでは有効（改行する）*/
@media screen and (max-width:768px) {
    .smartphone{
        display: block;
    }
}

/* bbs.cgiでスレッド作成のボタンをスマホだと一番上にする */
@media screen and (max-width:768px) {
    .reverse_order{
     display: flex;
     flex-direction: column;
    }
}
.order1 {
    order: 1;
}
.order2 {
    order: 2;
}
.post {
  border-width: 1px;
  display: inline-block;
  border-style: none solid solid none;
  border-color: #ddd;
  background-color: #efefef;
  margin-bottom: 8px;
  padding: 8px;
}
.meta {
  font-size: 14px;
  color: #333;
}
.message {
 font-size:17px;
 color:#333;
 padding:10px 0;
 overflow-wrap:break-word
}
.backmascot {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: calc(100% - 250px);
    background-position-y: bottom;
}
